<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>735124461824-bfhm5ibfck1jpurmv53ud8tjjsl36s8o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.735124461824-bfhm5ibfck1jpurmv53ud8tjjsl36s8o</string>
	<key>API_KEY</key>
	<string>AIzaSyATlrc5YwfeIOn6oFTvi4aJn8EEr647s2I</string>
	<key>GCM_SENDER_ID</key>
	<string>735124461824</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.haanRHaan</string>
	<key>PROJECT_ID</key>
	<string>haan-r-haan</string>
	<key>STORAGE_BUCKET</key>
	<string>haan-r-haan.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:735124461824:ios:627fa4d5b4d6807eebfbe5</string>
</dict>
</plist>